{% extends "BRGAutoSpaApp/base.html" %}

{% load static %}

{% block content %}

<div class="container">

   <div style="float: right;">

      {% if request.user.is_authenticated %}
         {% include "carro/widget.html" %}
      {% else %}
         <div class="alert alert-danger text-center">Login para ver carro</div>
      {% endif %}

   </div>

 <div class="row">
   
      {% for producto in productos %}

      <div class="col-md-6"> <!--ver cantidad de columnas luego-->

         <div class="card text-center" style="width: 18rem; margin: 15px 15px;">
            <img class="card-img-top" src="{{producto.imagen.url}}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text">$ {{producto.precio}}</p>
            <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-dark">Agregar al carro</a>
            </div>
         </div>

      </div>


   {% endfor %}
 </div>
</div>

{% endblock %}
